.selecao{
    display: flex; 
    align-items:center; 
    gap:10px;
    justify-content: center; 
    border-radius: 3px; 
    border: 1px solid #cccc; 
    height: 70px; 
    background: #E5E5E5 ;
    box-shadow: 2px 5px 5px lightgray;
    margin-bottom: 10px;
}

.show{
    display:block;
}

.hide{
    display:none;
}