.campofiltros{

    display: flex;
    gap: 10px;
    justify-items: start;
    align-items: last baseline;
    height: 80px;
    
}

.campofiltrosc{

    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 80px;
    

}