<br><br>
<div class="campofiltros" >
  <po-widget>
    <form [formGroup]="form">
      <po-radio-group class="campofiltros"
                      name="tpBusca" 
                      formControlName="tpBusca" 
                      [p-columns]=2 
                      p-label="Tipo de Busca"
                      [p-options]="[
                        { label: 'Reparo', value: 1},
                        { label: 'Item', value: 2}
                      ]"
                      (p-change)="changeBusca($event)"
                      >
                  </po-radio-group>
    </form>
  </po-widget>
  <po-widget>
    <form [formGroup]="form">
      <div class="campofiltros" >
        @if (this.mudaCampos === 1) {
          <po-input name="codEstabel" p-auto-focus="true" formControlName="codEstabel" class="po-lg-1" p-label="Estab"  p-mask="xxx">      </po-input>
          <po-input name="codFilial"  formControlName="codFilial"  class="po-lg-1" p-label="Filial" p-mask="xx">       </po-input>
          <po-input name="numRR"      formControlName="numRR" class="po-lg-3" p-label="Reparo" p-mask=">>>>>>9.9"></po-input>
        }
        @else {
          <po-input name="itCodigo"  p-auto-focus="true" formControlName="itCodigo"  class="po-lg-6" p-label="Item" p-mask="XX.XXX.XXXXX-XX">       </po-input>
        }

        <po-button name='btBusca' [p-disabled]="lBotao" style="margin-right: 50px" p-icon="po-icon po-icon-search"  p-label="Buscar" (p-click)="ChamaObterBRR()"></po-button>
      </div>
    </form>
  </po-widget>  

  <div class="po-md-4">
    <po-widget>
        <div class="campofiltrosc" >
          <po-button p-icon="po-icon po-icon-pushcart"     p-label="CE0830"   (p-click)="AbrirTelaTOTVS('cep/ce0830.w')"></po-button>
          <po-button p-icon="po-icon po-icon-pallet-full"  p-label="ESPP034"  (p-click)="AbrirTelaTOTVS('esp/espp034.w')"></po-button>
          <po-button p-icon="po-icon po-icon-print"        p-label="Exportar" (p-click)="this.onExportarExcel()"> </po-button>
          <!--  [p-loading]="loadExcel"-->
        </div>
    </po-widget>
  </div>
</div>

<po-widget> 
  
  <div class="po-md-12">
    <po-divider p-label="Busca efetuada por  {{this.pesquisa}}"></po-divider>
    <po-table [p-items]="lista" 
              [p-columns]="colunas"
              [p-striped]="true" 
              [p-loading]="loadTela" 
              p-sort="true"
              [p-hide-table-search]="false" 
              [p-hide-columns-manager]="true" 
              p-container="true"
              [p-literals]="customLiterals"
              [p-height]="300"
              />              
  </div>
</po-widget>